@model List<MovieViewModel>
@using CinemaProject.BL.Interfaces
@inject IAccountLogic AccountLogic
@section Styles{
    <link href="~/css/Movie.css" rel="stylesheet" />
}
@{
    ViewData["Title"] = "Filme";
}
<a class="btn btn-primary cursor-pointer" asp-controller="Movie" asp-action="AddMovie" asp-conditional for-condition="@AccountLogic.IsAdmin()">Add Movie</a>
<br />
@if (!Model.Any()) {

    <p>No movie found.</p>
} else {
    @foreach (var movieViewModel in Model) {


        <div class="movie-card">
            @if (string.IsNullOrWhiteSpace(movieViewModel.MoviePhoto)) {
                <div class="movie-header" style="background: url('/Content/MoviePhotos/no-preview.jpg'); background-size: contain;">
                </div>
            } else {
                <div class="movie-header" style="background: url('/Content/MoviePhotos/@movieViewModel.MoviePhoto'); background-size: cover;">
                </div>
            }
            <!--movie-header-->
            <div class="movie-content">
                <div class="movie-content-header">
                    <a asp-controller="Movie" asp-action="ShowMovie" asp-route-id="@movieViewModel.MovieId">
                        <h3 class="movie-title">@movieViewModel.MovieName</h3>
                    </a>
                    <div class="imax-logo"></div>
                </div>
                <div class="movie-info">
                    <div class="info-section">
                        <label>Duration</label>
                        <span>@movieViewModel.Duration Minutes</span>
                    </div><!--date,time-->

                    <div class="info-section">
                    </div><!--seat-->
                </div>
            </div><!--movie-content-->
        </div><!--movie-card-->
    }
}